body {
  margin: 0;
  font-family: "Acherus", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.skipLink {
  color: var(--hokieMaroon) !important;
  font-family: Acherus, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.25rem;
}

#vt_offcanvas_nav .vt-parent-org {
  margin-bottom: 0;
}
